/*
 Сброс стилей
*/
/* Указываем box sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Убираем внутренние отступы */
ul[class],
ol[class] {
  padding: 0;
}

/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Выставляем основные настройки по-умолчанию для body */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/
ul[class],
ol[class] {
  list-style: none;
}

/* Элементы a, у которых нет класса, сбрасываем до дефолтных стилей */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Упрощаем работу с изображениями */
img {
  max-width: 100%;
  display: block;
}

/* Указываем понятную периодичность в потоке данных у article*/
article > * + * {
  margin-top: 1em;
}

/* Наследуем шрифты для инпутов и кнопок */
input,
button,
textarea,
select {
  font: inherit;
}

/* Удаляем все анимации и переходы для людей, которые предпочитай их не использовать */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}


/*Стили*/

a{
	text-decoration: none;
}

.promo_image{
	background-image: url(img/main_background.jpg);
	background-repeat: no-repeat;
	background-position: center;
	  -moz-background-size: 100%; /* Firefox 3.6+ */
    -webkit-background-size: 100%; /* Safari 3.1+ и Chrome 4.0+ */
    -o-background-size: 100%; /* Opera 9.6+ */
    background-size: 100%; /* Современные браузеры */

	height: 100%;

	background-size: cover;
}

h1{
	color: white;
	font-family: 'SF UI Text';
	font-size: 65px;

}

h2{
	color: white;
	font-family: 'SF UI Text';
	font-size: 45px;

}

.promo_text{
	text-align: center;
	display: block;
	margin-left: auto;
	margin-right: auto;
	padding-top: 150px;
	width: 70%;

}

.shtorm_logo{
	
	 display: block;
  margin-left: auto;
  margin-right: auto;

}

.button_purchase {
	background-color:yellow;
	-webkit-border-radius:28px;
	-moz-border-radius:28px;
	border-radius:28px;

	display:inline-block;
	cursor:pointer;
	color:#000000;
	font-family: 'SF UI Text';
	font-size:2em;
	font-weight:bold;
	padding:16px 31px;
	text-decoration:none;
}

.alert{
	font-family: 'SF UI Text';
	color: white;
	font-size: 1.2em;
}

.content{
	text-align: center;
}

.channel_list_center{
	display: flex;
	justify-content: center;
	text-align: center;
}

.channel_list{
	display: grid;
	grid: repeat(2, 150px) / auto-flow 200px;
	grid-gap: 50px;
}

.footer{
	text-align: center;
	display: block;
	margin: 0 auto;
	/*background-color: #2a2a2a;*/
	background-image: url(img/footer_background.png);
	background-repeat: no-repeat;
	background-position: center;
	  -moz-background-size: 100%; /* Firefox 3.6+ */
    -webkit-background-size: 100%; /* Safari 3.1+ и Chrome 4.0+ */
    -o-background-size: 100%; /* Opera 9.6+ */
    background-size: 100%; /* Современные браузеры */

	height: 100%;

	background-size: cover;
}

.phone_num{
	font-family: 'SF UI Text';
	color: white;
	font-size: 1.2em;

	
}

.operator{
	margin-right: -15px;
}

input[type=text] {
	border-radius: 10px;
	background-color: white;
	color: black;
	width: 250px; height: 50px;
	margin-left: 10px;
	font-family: 'SF UI Text';
	text-align: center;
}

button{
	background-color: white;
	color: black;
	border-radius: 10px;
	width: 250px;
	height: 50px;
	font-family: 'SF UI Text';
}

.phone{
	display: flex;
	padding-left: 10px;
	justify-content: center;
}

.third {
	box-shadow: 0 0 10px 0 #3498db inset, 0 0 10px 4px #3498db;
	-webkit-transition: all 150ms ease-in-out;
	transition: all 150ms ease-in-out;
	font-family: 'SF UI Text';
  }
  .third:hover {

	border-color: #3498db;
	color: #fff;
	box-shadow: 0 0 40px 40px #3498db inset, 0 0 0 0 #3498db;
	-webkit-transition: all 150ms ease-in-out;
	transition: all 150ms ease-in-out;
  }

@media screen and (max-width: 1000px) {
	.channel_list{
		display: grid;
		grid: repeat(4, 150px) / auto-flow 200px;
		grid-gap: 10px;
	}
}

@media screen and (max-width: 900px) {
	h1{
		color: white;
		font-family: 'SF UI Text';
		font-size: 45px;
	
	}

	.button_purchase {
		background-color:yellow;
		-webkit-border-radius:28px;
		-moz-border-radius:28px;
		border-radius:28px;
	
		display:inline-block;
		cursor:pointer;
		color:#000000;
		font-family: 'SF UI Text';
		font-size:1.4em;
		font-weight:bold;
		padding:16px 31px;
		text-decoration:none;
	}

	.shtorm_logo{
		width: 200px;
   }
	h2{
		font-size: 35px;
	}

	.channel_list{
		display: grid;
		grid: repeat(4, 150px) / auto-flow 200px;
		grid-gap: 10px;
	}
}

@media screen and (max-width: 500px) {
	h1{
		color: white;
		font-family: 'SF UI Text';
		font-size: 35px;
	
	}

	.button_purchase {
		background-color:yellow;
		-webkit-border-radius:28px;
		-moz-border-radius:28px;
		border-radius:28px;
	
		display:inline-block;
		cursor:pointer;
		color:#000000;
		font-family: 'SF UI Text';
		font-size:1em;
		font-weight:bold;
		padding:16px 31px;
		text-decoration:none;
	}
	.alert{
		font-family: 'SF UI Text';
		color: white;
		font-size: 1em;
	}

   h2{
	font-size: 25px;
}
}

@media screen and (max-width: 420px) {
	.channel_list{
		display: grid;
		grid: repeat(8, 150px) / auto-flow 200px;
		grid-gap: 5px;
	}

	input[type=text] {
		display: block;
		margin: 0 auto;
		text-align: center;
		margin-top: 15px;
	}

	.phone{
		display: block;
		margin: 0 auto;
	}

	.phone_num{
		font-family: 'SF UI Text';
		color: white;
		font-size: 1.2em;
		padding-left: 0px;
		
		
	}

	.operator{
		display: block;
		margin: 0 auto;
		
	}
}